name: issues

on:
  issues:
    types: [opened]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: dl issues
      run: | 
          $site = Invoke-WebRequest https://api.github.com/repos/jihuayu/mod-build/issues/${{github.event.issue.number}}
          Invoke-WebRequest ($site.Content | ConvertFrom-Json ).body -o ./pack.zip
          Expand-Archive ./pack.zip ./pack
    - name: Build with Gradle
      run: |
        cd pack
        ./gradlew build
        cd ..
    - name: upload
      run: | 
        Compress-Archive ./pack/build/libs mods-${{github.event.issue.number}}.zip
        echo '${{ secrets.auth }}' > auth.json
        ./OneDriveUploader.exe -s ./mods-${{github.event.issue.number}}.zip -r dist -t 8
    - name: succeed
      if: success() 
      run: | 
          $postParams = @{body='https://offline.jihuayu.workers.dev/mods-${{github.event.issue.number}}.zip'}
          Invoke-WebRequest https://api.github.com/repos/jihuayu/mod-build/issues/${{github.event.issue.number}}/comments -Method POST  -Headers= @{'Authorization'='token ${{secrets.GITHUB_TOKEN }}'} -ContentType "application/json" -Body $postParams
    - name: succeed
      if: failure() 
      run: | 
          $postParams = @{body='编译失败'}
          Invoke-WebRequest https://api.github.com/repos/jihuayu/mod-build/issues/${{github.event.issue.number}}/comments -Method POST  -Headers= @{'Authorization'='token ${{secrets.GITHUB_TOKEN }}'}  -ContentType "application/json" -Body $postParams
          

