name: issues

on:
  issues:
    types: [opened]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: dl issues
      run: | 
          $site = Invoke-WebRequest https://api.github.com/repos/jihuayu/mod-build/issues/${{github.event.issue.number}}
          Invoke-WebRequest ($site.Content | ConvertFrom-Json ).body -o ./pack.zip
          Expand-Archive ./pack.zip ./pack
    - name: failure
      if: failure() 
      uses: karlhulme/github-action-create-issue-comment@master
      with:
          issueNumber: ${{ github.event.issue.number }}
          body: '下载失败,请检查你的网址是否正确，如果正确请再次尝试。'
      env:
          GITHUB_TOKEN: ${{ github.token }} 
    - name: Build with Gradle
      run: |
        $now = Get-Location
        $run = Get-ChildItem -Recurse -Include gradlew.bat
        $run_path = $run[0].Directory
        cd $run_path
        ./gradlew build
        cd $now
        Compress-Archive $run_path/build/libs mods-${{github.event.issue.number}}.zip
        echo '${{ secrets.auth }}' > auth.json
        ./OneDriveUploader.exe -s ./mods-${{github.event.issue.number}}.zip -r dist -t 8
    - name: succeed
      if: success() 
      uses: karlhulme/github-action-create-issue-comment@master
      with:
          issueNumber: ${{ github.event.issue.number }}
          body: 'https://mods.jihuayu.workers.dev/mods-${{ github.event.issue.number }}.zip'
      env:
          GITHUB_TOKEN: ${{ github.token }} 
    - name: failure
      if: failure() 
      uses: karlhulme/github-action-create-issue-comment@master
      with:
          issueNumber: ${{ github.event.issue.number }}
          body: '编译失败,你可以到这里查看错误日志 https://github.com/jihuayu/mod-build/actions'
      env:
          GITHUB_TOKEN: ${{ github.token }} 
